.wrapper {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color:  #1f1e1e;
}
/* 头部 */
.hear{
  position: relative;
  width: 100%;
  height: 80px;
  background-color:  #111111;
  z-index: 10;
}
.hear h2{
  position: absolute;
  top: 20px;
  left: 70px;
  color: #ffffff;
}
/* 搜索框 */
.search{
  position: absolute;
  display: flex;
  border: 1px solid #8f8a8a;
  width: 450px;
  height: 36px;
  top: 17px;
  right: 600px;
  border-radius: 8px;
}
.search input{
  width: 370px;
  border: none;
     outline: none;
     color: white;
     padding-left: 11px;
     background-color: transparent;
}
.search button{
  width: 80px;
  background-color: rgba(241, 230, 230, 0.2); 
  color: white;
     border: none;
     cursor: pointer;
     font-size: 22px;
}
.search button{
  font-size: 17px;
}
.search:hover{
  border: 1px solid #ffffff ; 
}
/* 渐变色 */
.search:hover button {
  background: linear-gradient(to right, #00ffcc, #00cc00);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* 推荐框 */
.hear #commendbox{
  display: none;
  flex-wrap: wrap;
  position: absolute;
  padding-top: 10px;
  width: 602px;
  height: 320px;
  background-color: #444444;
  top: 65px;
  right: 535px;
  border-radius: 10px;
  opacity: 0.95;
  border: 1px solid #bcb2b2;
  z-index: 2;
}
.hear #commendbox .box{
  float: left;
  width: 300px;
  height: 100px;
  filter: brightness(0.9);
}
.media {
  float: left;
  width: 28%;
  border-radius: 9px;
}
.media img{
  width: 100%;
  height: 94px;
  margin: 2% 3px;
  border-radius: 9px;
}
.box .i{
  display: inline-block;
  font-size: small;
  width: 70%;
  padding: 10px;
  height: 98px;
  color: white;
}
.i h3{
  margin-top: 3px;
  font-weight:370; 
}
.i .a{
  margin-top: 7px;
   width: 90px;
   height: 18px;
   text-align: center;
   line-height: 18px;
   color: #FFA500;
   background-color: #806868;
   border-radius: 5px;
}
.i .b{
  margin-top: 7px;
  font-weight: 350px;
  opacity: 0.8;
}
#commendbox a:hover .box{ 
background-color: #555555;
opacity: 1;
}
/* 轮播图 */
.banner {
 display: block;
 position: relative;
  width: 80%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  }
.carousel{
  width: 100%;
  height: 550px;
  display: none;
  border: 1px solid #a7a4a4;
  border-radius: 17px;
}
.carousel:first-child {
  display: block;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: x-large;
  border-radius: 50%;
  opacity: 0;
}
.prev {
  left: 5px;
}
.next {
  right: 5px;
}
.banner:hover .prev,
.banner:hover .next{
  opacity: 1;
}
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(250, 245, 245);
  margin: 10px 20px;
  cursor: pointer;
}
.dot.active {
  background-color: rgb(158, 156, 156);
}

 /* c位 */
 .text,
 .like{
  margin-top: 20px;
  margin-bottom: 0;
  font-size: x-large;
  padding-left: 50px;
  height: 50px;
color: #ffffff;
 }
 .c {
  margin-top: 60px;
  position: relative;
  width: 80%;
  height:440px;
  overflow: hidden;
  border-radius: 20px;
  border: 0.1px solid #444444;
}
.cbox{
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.cbox a img {
  height: 300px;
  margin-left: 20px;
  width: 100%;
  border: 20px;
  border-radius: 20px;

}
.cbox a p{
  display: inline-block;
  margin-top: 10px;
  color: #ffffff;
  width: 90px;
  height: 30px;
  margin-left: 80px;
  font-size: large;
  text-align: center;
}
#prevbutton,
#nextbutton{
  position: absolute;
  top: 50%;
  width: 28px;
  height: 45px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 27px;
  cursor: pointer;
  z-index: 2;
}
#prevbutton {
  left: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#nextbutton {
  right: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* 番表 */

.watch{
  margin-top: 20px;
  height: 900px;
  border-radius: 20px;
  border: 0.1px solid #444444;
}

/* 一起的 */
.watch ul a,
.cbox a{
  position: relative;
  display: inline-block;
  margin-left: 32px;
  margin-top: 14px;
  flex-wrap:wrap;
  width: 17%;
  height: 360px;
  transition: all 0.3s ease;
}
.watch ul li h5,
.cbox a h5{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  opacity: 0;
  background-color: rgb(41, 39, 39);
  padding: auto;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.cbox a h5{
  top: 40%;
  left: 60%;
}
.watch ul li h5 span,
.cbox a h5 span{
  line-height: 50px;
  margin-left: 14px;
  font-size: x-large;
  color: #ffffff;
}
.watch ul a:hover,
.cbox a:hover{
  opacity: 0.7; 
}
.watch ul a:hover h5,
.cbox a:hover h5{
  opacity: 1;
}
/* 与C位一起的finally */
.watch ul li h4{
  text-align: center;
  font-size: large;
  color: #ad5858;
}
.watch ul h4:hover{
  color: blue;
}
.watch ul a:nth-child(1){
  margin-left: 30px;
}
.watch ul a:nth-child(6){
  margin-left: 30px;
}
.watch ul a img{
 width: 100%;
  height: 300px;
  border-radius: 5px;
}
.watch ul li p{
  margin-top: 10px;
  margin-left: 10px;
  font-size: small;
  color: #aea5a5;
}
/* 页面 */
.finlly{
  margin-top: 20px;
  padding-left: 42%;
}
.finlly button{
  cursor: pointer;
  opacity: 0.8;
}

.two,
.three{
  width: 38px;
  height: 27px;
  background-color: #fff;
  border-radius: 7px;
}

.one,
.frot{
  width: 70px;
  height: 34px;
  border-radius: 9px;
}
.two{
  background-color: orange;
}
/* 底部 */
.foot{
  height: 100px;
  margin-top: 10px;
  background-color:  #444444;
  text-align: center;
}
.foot h3{
  line-height: 100px;
  color:  #faf2f2;
}